img {
    width: 100%;
    max-width: 400px;
    height: 'auto';
    border-radius: 5px;

}

.projectSpotlightImage {
    /* min-width: 600px; */
    width: 100%;
    max-width: 100%;
    height: 'auto';
    border-radius: 10px;
    filter: sepia(50%) saturate(50%) brightness(70%);
    transition: 0.3s;
    cursor: pointer;
}
.projectSpotlightImage:hover {
    filter: sepia(0%) saturate(100%) brightness(100%);
}
@media screen and (max-width: 700px) {
    .image {
        text-align: center;
        justify-content: center;
    }
  }